# Task-1: Data Quality Issues _ Transactions

The client has provided us with four datasets.
They are:
1) Customer Demographic
2) Transaction details
3) Customer address
4) New customer list

In [1]:
#Import the required librariesabs
import pandas as pd

## Reading Excel file given by the client

In [2]:
df=pd.read_csv("G:\My Drive\KPMG\Task 1\Transactions.csv")

Let us copy the same data frame (as below) so that changes to be made in future may not affect the Excel file

In [3]:
df=df.copy()

## Viewing the data frame

In [4]:
df.head(5)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,8708,0,5034,7/10/2017,False,Approved,Solex,Road,medium,medium,416.98,312.7350159,2/8/2015
1,16701,0,5034,27-01-2017,False,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.2999878,25-08-1997
2,17469,0,5034,3/1/2017,False,Approved,OHM Cycles,Road,medium,medium,742.54,667.4000244,2/10/1992
3,2463,2,3500,25-04-2017,False,Approved,Solex,Standard,medium,medium,71.49,$53.62,2/12/2012
4,6309,69,3500,9/1/2017,True,Approved,Giant Bicycles,Road,medium,medium,792.90,$594.68,2/10/1992

## Exploring shape of the sheet

In [5]:
df.shape

(20000, 13)

## Exploring columns of the sheets

In [6]:
df.columns

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date'],
      dtype='object')

## Checking Data Types of each attribute in each sheet

In [7]:
df.dtypes

transaction_id               int64
product_id                   int64
customer_id                  int64
transaction_date            object
online_order                object
order_status                object
brand                       object
product_line                object
product_class               object
product_size                object
list_price                 float64
standard_cost               object
product_first_sold_date     object
dtype: object

## Describe the data columnwise use "df.describe()"

## Checking for Null/missing values

In [8]:
df.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

## Exploring columns

In [9]:
df.iloc[:,7].value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

Here, in [], : before comma indicates the row index, here : means all rows. Similarly values after comma indicates the column index, here 7 means 8th column Because, the indices in python start with zero.

Below is the other way to explore the same column, i.e. Transactions.iloc[:,7] = product_line

In [10]:
df['product_line'].value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

## Why to see value_counts seperately for each column?, Make a loop so that together we get the desired response for all columns..

In [11]:
df.columns

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date'],
      dtype='object')

In [12]:
df_columns=['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date']

In [13]:
for i in df_columns:
    print(df[i].value_counts())

2047     1
10912    1
12947    1
2708     1
661      1
6806     1
4759     1
19100    1
17053    1
8865     1
8849     1
15010    1
12963    1
2724     1
677      1
6822     1
4775     1
19116    1
14994    1
10896    1
12787    1
10880    1
12915    1
2676     1
629      1
6774     1
4727     1
19068    1
17021    1
8833     1
        ..
15693    1
11599    1
19747    1
17746    1
19795    1
5464     1
7513     1
1370     1
3419     1
13660    1
17730    1
11583    1
9534     1
15677    1
5416     1
7465     1
1322     1
3371     1
13612    1
15661    1
9518     1
11567    1
17714    1
19763    1
5432     1
7481     1
1338     1
3387     1
13628    1
2049     1
Name: transaction_id, Length: 20000, dtype: int64
0      1378
3       354
1       311
35      268
38      267
4       241
2       240
90      225
12      224
80      223
5       222
43      216
69      215
77      215
27      215
53      214
45      213
92      211
36      211
50      209
64      208
40      208
79      207
17      205
21      204
34      204
49      204
66      202
59      201
9       201
       ...
70      167
25      164
30      162
48      162
96      161
83      159
98      156
76      155
26      154
37      153
42      152
39      152
99      152
78      151
94      149
65      148
20      146
68      146
60      144
51      143
97      142
24      141
73      139
44      138
75      138
71      137
8       136
16      136
100     130
47      121
Name: product_id, Length: 101, dtype: int64
2183    14
1068    14
2476    14
2072    13
1672    13
1302    13
3232    13
2464    13
637     13
2912    13
1946    13
1140    13
2755    13
1129    13
3048    13
3326    13
1913    13
2548    13
377     13
1076    12
2240    12
177     12
2826    12
1103    12
2659    12
1482    12
39      12
2155    12
3020    12
255     12
        ..
3272     1
161      1
2291     1
3279     1
1248     1
1921     1
3235     1
373      1
2749     1
872      1
2876     1
3392     1
191      1
2417     1
898      1
2525     1
3292     1
1325     1
3161     1
2477     1
3428     1
1448     1
3179     1
287      1
1757     1
2395     1
1569     1
1203     1
2271     1
1544     1
Name: customer_id, Length: 3494, dtype: int64
14-02-2017    82
18-08-2017    82
15-10-2017    76
31-01-2017    73
19-12-2017    71
16-10-2017    70
9/7/2017      70
6/12/2017     69
15-01-2017    69
18-03-2017    69
16-12-2017    68
21-08-2017    68
6/11/2017     68
17-05-2017    68
10/1/2017     67
27-10-2017    67
14-08-2017    67
14-11-2017    67
9/4/2017      67
27-04-2017    67
24-10-2017    66
8/3/2017      66
16-11-2017    66
3/2/2017      66
15-11-2017    66
18-01-2017    66
1/5/2017      66
8/9/2017      65
15-07-2017    65
23-10-2017    65
              ..
14-04-2017    45
26-03-2017    45
26-11-2017    45
7/6/2017      45
3/9/2017      45
1/7/2017      44
6/6/2017      44
28-01-2017    44
26-10-2017    44
3/4/2017      44
7/3/2017      44
8/12/2017     44
23-04-2017    43
6/3/2017      43
27-03-2017    43
29-01-2017    43
27-05-2017    43
1/9/2017      43
4/3/2017      42
28-06-2017    41
24-11-2017    41
14-06-2017    41
16-05-2017    40
31-03-2017    39
29-08-2017    38
12/1/2017     38
7/12/2017     37
29-03-2017    36
25-09-2017    35
19-10-2017    32
Name: transaction_date, Length: 364, dtype: int64
True     9829
False    9811
Name: online_order, dtype: int64
Approved     19821
Cancelled      179
Name: order_status, dtype: int64
Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64
Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64
medium    13826
high       3013
low        2964
Name: product_class, dtype: int64
medium    12990
large      3976
small      2837
Name: product_size, dtype: int64
2091.47    465
1403.50    396
71.49      274
1231.15    235
1890.39    233
1129.13    232
1073.07    229
1894.19    228
945.04     226
574.64     223
363.01     221
1240.31    219
1793.43    217
533.51     217
1577.53    214
1151.96    214
544.05     213
1762.96    211
230.91     211
958.74     211
360.40     210
1415.01    209
795.34     208
2083.94    208
1469.44    208
792.90     207
1555.58    204
499.53     203
1812.75    202
980.37     201
          ...
437.51       1
2028.26      1
1761.75      1
922.15       1
1193.44      1
126.36       1
1617.32      1
840.02       1
1942.61      1
317.30       1
1678.71      1
1148.41      1
494.96       1
710.55       1
1719.95      1
330.36       1
1216.40      1
74.89        1
850.00       1
1150.59      1
724.37       1
1095.65      1
1285.47      1
643.95       1
1957.87      1
26.15        1
1199.26      1
1535.84      1
541.44       1
1142.89      1
Name: list_price, Length: 296, dtype: int64
$388.92        465
$954.82        396
$53.62         274
$161.60        235
$260.14        233
$677.48        232
$933.84        229
$598.76        228
$507.58        226
$459.71        223
$290.41        221
$795.10        219
$248.82        217
$400.13        217
$826.51        214
$649.49        214
$376.84        213
$173.18        211
$950.52        211
$748.90        211
$270.30        209
$1,259.36      209
$596.55        208
$101.58        208
$675.03        208
$594.68        207
$818.01        204
$582.48        202
$388.72        202
$234.43        201
              ...
$1,203.40      184
$297.43        184
$589.27        183
$820.78        183
$1,479.11      183
$431.45        183
$75.26         180
$137.90        180
$707.40        180
$215.14        180
$863.95        179
$205.36        179
$125.07        178
$528.43        178
$764.96        178
$829.65        176
$513.85        174
$230.09        172
$1,531.42      169
$312.74        168
$56.93         163
$1,043.77      157
$215.03        141
$770.89        126
$151.96        124
$206.35        114
667.4000244      1
                 1
312.7350159      1
270.2999878      1
Name: standard_cost, Length: 104, dtype: int64
2/10/1992     234
4/6/2012      229
21-07-2003    227
8/3/2009      222
17-08-2004    220
10/5/2005     219
7/6/2010      218
9/7/2016      216
16-01-2004    215
10/4/2012     215
19-03-2008    213
25-08-1997    213
22-10-2005    213
9/6/2013      213
21-01-1991    213
4/8/2007      212
3/3/2014      212
5/11/2010     211
11/10/1992    211
14-11-2016    211
7/8/2004      210
24-10-1995    209
11/12/2007    208
16-03-2011    207
15-07-1993    207
9/9/2003      207
6/12/2016     207
29-03-2016    206
25-01-1997    206
10/8/1994     206
             ...
5/8/2003      191
18-10-2015    191
3/11/2000     189
10/9/2003     189
22-03-2002    189
18-12-2004    189
5/4/1996      189
25-07-2004    189
17-06-2015    187
31-08-2002    186
16-02-2003    186
12/4/1993     186
23-06-1993    184
5/5/2010      184
16-04-2011    182
22-11-2016    182
4/10/1997     181
5/8/1991      181
22-05-2000    181
20-04-1993    179
5/1/2003      179
10/11/1991    179
21-05-2015    177
9/5/2011      176
1/10/2006     171
28-07-2014    169
4/2/2016      168
10/10/2014    166
7/2/2003      163
9/9/1994      162
Name: product_first_sold_date, Length: 100, dtype: int64

In [14]:
df["product_first_sold_date"]= pd.to_datetime(df["product_first_sold_date"])

In [15]:
df["product_first_sold_date"]

0       2015-02-08
1       1997-08-25
2       1992-02-10
3       2012-02-12
4       1992-02-10
5       2000-05-22
6       1992-11-10
7       1993-07-15
8       2006-02-02
9       2010-07-06
10      2003-02-16
11      1998-12-17
12      2012-02-12
13      1993-06-23
14      2006-02-02
15      2006-05-22
16      2003-02-16
17      1999-07-26
18      2013-09-16
19      2004-08-17
20      1994-10-08
21      2004-01-16
22      2016-11-14
23      1996-05-04
24      2004-07-25
25      2014-10-10
26      1994-12-07
27      2003-07-02
28      2010-05-05
29      1997-08-25
           ...
19970   2008-03-19
19971   1993-02-10
19972   2003-05-01
19973   2008-03-19
19974   1991-06-05
19975   2009-08-03
19976   2003-10-09
19977   1993-06-23
19978   2012-10-04
19979   2012-10-04
19980   2014-03-03
19981   2000-03-11
19982   2010-05-05
19983   2002-08-31
19984   2010-05-05
19985   1998-12-16
19986   2011-08-29
19987   2004-07-08
19988   2002-03-22
19989   2005-10-05
19990   2008-03-19
19991   2003-07-21
19992   2003-09-09
19993   2005-09-08
19994   1991-10-11
19995   1991-05-08
19996   2002-03-22
19997   2011-03-16
19998   2003-05-08
19999   1996-09-11
Name: product_first_sold_date, Length: 20000, dtype: datetime64[ns]

## Removing dollar sign from the column regarding cost

In [16]:
df['standard_cost']=df['standard_cost'].str.replace('$','')
df['standard_cost'].head()

0    312.7350159
1    270.2999878
2    667.4000244
3         53.62
4        594.68
Name: standard_cost, dtype: object

In [17]:
df['standard_cost'].dtype

dtype('O')

Though dollar sign is successfully removed, data type is not float. Need to convert it into float.

In [18]:
df['standard_cost']=df['standard_cost'].astype(float)
df['standard_cost']

ValueError: could not convert string to float: '1,167.18 '

Data could not be converted to float.. because of "ValueError: could not convert string to float: '1,167.18'"
So here, ',' need to be removed.

In [19]:
df['standard_cost']=df['standard_cost'].str.replace(',','')
df['standard_cost'].head()

0    312.7350159
1    270.2999878
2    667.4000244
3         53.62
4        594.68
Name: standard_cost, dtype: object

Good. now let us try toconvers it to float type.

In [20]:
#df['standard_cost'].astype(float)

## Determining percetage of  missing values in each column.

In [21]:
missing_count=df.isnull().sum()
missing_count

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [22]:
total=len(df)
total

20000

In [23]:
percentageMissing=missing_count*100/total
percentageMissing

transaction_id             0.000
product_id                 0.000
customer_id                0.000
transaction_date           0.000
online_order               1.800
order_status               0.000
brand                      0.985
product_line               0.985
product_class              0.985
product_size               0.985
list_price                 0.000
standard_cost              0.985
product_first_sold_date    0.985
dtype: float64

In [24]:
missing_data=pd. DataFrame({'Heading': df.columns, 'total_missing': missing_count,'Percentage_missing': percentageMissing})
missing_data.sort_values('total_missing', ascending=False)
missing_data=missing_data.loc[missing_data['total_missing'] > 0]
missing_data

,Heading,total_missing,Percentage_missing
online_order,online_order,360,1.800
brand,brand,197,0.985
product_line,product_line,197,0.985
product_class,product_class,197,0.985
product_size,product_size,197,0.985
standard_cost,standard_cost,197,0.985
product_first_sold_date,product_first_sold_date,197,0.985

## Deteriming if duplicate value is there in the data frame

In [25]:
duplicate=df[df.duplicated()]
duplicate

Empty DataFrame
Columns: [transaction_id, product_id, customer_id, transaction_date, online_order, order_status, brand, product_line, product_class, product_size, list_price, standard_cost, product_first_sold_date]
Index: []

In [26]:
len(duplicate)

0

## Viewing categorical data

In [27]:
df['online_order'].value_counts()

True     9829
False    9811
Name: online_order, dtype: int64

In [28]:
df['order_status'].value_counts()

Approved     19821
Cancelled      179
Name: order_status, dtype: int64

In [29]:
df['brand'].value_counts()

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

In [30]:
df['product_class'].value_counts()

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

In [31]:
df['product_line'].value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

In [32]:
df['product_class'].value_counts()

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

In [33]:
df['product_size'].value_counts()

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

## Converting object data type into date format

In [34]:
df["product_first_sold_date"]= pd.to_datetime(df["product_first_sold_date"])

In [35]:
df["product_first_sold_date"].head()

0   2015-02-08
1   1997-08-25
2   1992-02-10
3   2012-02-12
4   1992-02-10
Name: product_first_sold_date, dtype: datetime64[ns]

In [36]:
df["transaction_date"]= pd.to_datetime(df["transaction_date"])

In [37]:
df["product_first_sold_date"].head()

0   2015-02-08
1   1997-08-25
2   1992-02-10
3   2012-02-12
4   1992-02-10
Name: product_first_sold_date, dtype: datetime64[ns]

## Save the data frame in '.csv' fromat

In [38]:
df.to_csv('transaction_ready.csv', index=False)