# Task-1: Data Quality Issues _ CustomerAddress

The client has provided us with four datasets.
They are:
1) Customer Demographic
2) Transaction details
3) Customer address
4) New customer list

In [1]:
#Import the required librariesabs
import pandas as pd

## Reading Excel file given by the client

In [2]:
df=pd.read_excel("G:\My Drive\KPMG\Task 1\KPMG_ImportPython.xlsx","CustomerAddress")

Let us copy the same data frame (as below) so that changes to be made in future may not affect the Excel file

In [3]:
df=df.copy()

## Viewing the data frame

In [4]:
df.head(5)

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

## Exploring shape of the sheet

In [5]:
df.shape

(3999, 6)

## Exploring columns of the sheets

In [6]:
df.columns

Index(['customer_id', 'address', 'postcode', 'state', 'country',
       'property_valuation'],
      dtype='object')

## Checking Data Types of each attribute in each sheet

In [7]:
df.dtypes

customer_id            int64
address               object
postcode               int64
state                 object
country               object
property_valuation     int64
dtype: object

## Checking for Null/missing values

In [9]:
df.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

## Deteriming if duplicate value is there in the data frame

In [11]:
duplicate=df[df.duplicated()]
duplicate

Empty DataFrame
Columns: [customer_id, address, postcode, state, country, property_valuation]
Index: []

In [12]:
len(duplicate)

0

## Viewing categorical data

In [14]:
df['state'].value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

## Save the data frame in '.csv' fromat

In [16]:
df.to_csv('CustomerAddress_Done.csv', index=False)