# Task-1: Data Quality Issues _ CustomerDemographic

The client has provided us with four datasets.
They are:
1) Customer Demographic
2) Transaction details
3) Customer address
4) New customer list

In [1]:
#Import the required librariesabs
import pandas as pd
import numpy as np

## Reading Excel file given by the client

In [2]:
df=pd.read_excel("G:\My Drive\KPMG\Task 1\KPMG_ImportPython.xlsx","CustomerDemographic")

Let us copy the same data frame (as below) so that changes to be made in future may not affect the Excel file

In [3]:
df=df.copy()

## Viewing the data frame

In [4]:
df.head(5)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

## Exploring shape of the sheet

In [5]:
df.shape

(4000, 13)

## Exploring columns of the sheets

In [6]:
df.columns

Index(['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'default', 'owns_car', 'tenure'],
      dtype='object')

## Checking Data Types of each attribute in each sheet

In [7]:
df.dtypes

customer_id                                     int64
first_name                                     object
last_name                                      object
gender                                         object
past_3_years_bike_related_purchases             int64
DOB                                    datetime64[ns]
job_title                                      object
job_industry_category                          object
wealth_segment                                 object
deceased_indicator                             object
default                                        object
owns_car                                       object
tenure                                        float64
dtype: object

## Describe the data columnwise use "df.describe()"

## Checking for Null/missing values

In [8]:
df.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

## Exploring columns

In [9]:
df.iloc[:,7].value_counts()

Manufacturing         799
Financial Services    774
Health                602
Retail                358
Property              267
IT                    223
Entertainment         136
Argiculture           113
Telecommunications     72
Name: job_industry_category, dtype: int64

Here, in [], : before comma indicates the row index, here : means all rows. Similarly values after comma indicates the column index, here 7 means 8th column Because, the indices in python start with zero.

Below is the other way to explore the same column, i.e. Transactions.iloc[:,7] = job_industry_category

In [10]:
df['job_industry_category'].value_counts()

Manufacturing         799
Financial Services    774
Health                602
Retail                358
Property              267
IT                    223
Entertainment         136
Argiculture           113
Telecommunications     72
Name: job_industry_category, dtype: int64

## Why to see value_counts seperately for each column?, Make a loop so that together we get the desired answer for all columns..

In [11]:
df.columns

Index(['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'default', 'owns_car', 'tenure'],
      dtype='object')

In [12]:
df_columns=['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'default', 'owns_car', 'tenure']

In [13]:
for i in df_columns:
    print(df[i].value_counts())

2047    1
657     1
2732    1
681     1
2728    1
677     1
2724    1
673     1
2720    1
669     1
2716    1
665     1
2712    1
661     1
2708    1
2704    1
625     1
653     1
2700    1
649     1
2696    1
645     1
2692    1
641     1
2688    1
637     1
2684    1
633     1
2680    1
629     1
       ..
3419    1
3363    1
1370    1
3415    1
1366    1
3411    1
1362    1
3407    1
1358    1
3403    1
1354    1
3399    1
1350    1
3395    1
1346    1
3391    1
1342    1
3387    1
1338    1
3383    1
1334    1
3379    1
1330    1
3375    1
1326    1
3371    1
1322    1
3367    1
1318    1
2049    1
Name: customer_id, Length: 4000, dtype: int64
Max            5
Timmie         5
Tobe           5
Kippy          4
Pail           4
Basile         4
Urbanus        4
Gerome         4
Emlyn          4
Lindsay        4
Osgood         4
Corabelle      4
Kim            4
Hubie          4
Andrea         3
Andreas        3
Normand        3
Jayme          3
Erik           3
Lauree         3
Coop           3
Marcile        3
Kylie          3
Lorain         3
Sorcha         3
Lenci          3
Brita          3
Crosby         3
Tish           3
Trisha         3
              ..
Solomon        1
Abby           1
Jewelle        1
Alejandrina    1
Rosana         1
Agustin        1
Johnette       1
Bryant         1
Teodora        1
Cayla          1
Evvie          1
Moreen         1
Tatum          1
Ansel          1
Nadya          1
Devy           1
Erny           1
Andras         1
Ynez           1
Bettina        1
Selene         1
Silvester      1
Alexandr       1
Damiano        1
Willie         1
Aura           1
Pincus         1
Olvan          1
Jonathon       1
Cordi          1
Name: first_name, Length: 3139, dtype: int64
Ramsdell       3
Pristnor       3
Bernardini     2
Smetoun        2
Dumphy         2
Olford         2
Chapelhow      2
Carswell       2
Foulcher       2
Thirlwall      2
Dyde           2
Sanderson      2
Zisneros       2
Dinan          2
Dyke           2
Strafen        2
Leyshon        2
Petschelt      2
Markel         2
Nissle         2
Hammant        2
Dwerryhouse    2
O'Halloran     2
Wasling        2
Lamming        2
Hackworth      2
Saltmarshe     2
Dredge         2
Neissen        2
Ubanks         2
              ..
Morrice        1
Tarver         1
Nickless       1
Bigglestone    1
Giordano       1
Restall        1
Robberts       1
Girault        1
Bamford        1
Shalliker      1
Nawton         1
Caine          1
Pattillo       1
Besset         1
Marrion        1
Eleshenar      1
Bacon          1
Jeger          1
Flannigan      1
Coales         1
De la Harpe    1
Milnthorpe     1
Gate           1
Pryn           1
Wehner         1
McCard         1
Noye           1
Fundell        1
Verick         1
Ranklin        1
Name: last_name, Length: 3725, dtype: int64
Female    2037
Male      1872
U           88
F            1
Femal        1
M            1
Name: gender, dtype: int64
16    56
19    56
20    54
67    54
2     50
80    49
44    49
53    49
33    49
37    49
38    49
72    48
73    48
11    48
27    48
13    47
98    47
48    46
96    46
23    46
93    46
47    45
6     45
82    44
34    44
99    44
59    44
10    43
69    43
35    43
      ..
50    37
88    37
41    36
94    36
7     35
57    35
87    35
74    35
1     35
55    35
56    34
78    34
31    34
5     33
43    33
26    33
84    33
52    32
75    32
28    31
3     30
21    30
45    29
61    29
58    29
8     28
86    27
95    27
85    27
92    24
Name: past_3_years_bike_related_purchases, Length: 100, dtype: int64
1978-01-30    7
1977-05-13    4
1976-07-16    4
1978-08-19    4
1976-09-25    4
1964-07-08    4
1962-12-17    4
1985-12-28    3
1978-08-07    3
1999-07-28    3
1978-02-24    3
1997-10-16    3
1973-07-31    3
1987-06-16    3
1974-08-29    3
1960-01-11    3
1956-08-08    3
1980-01-11    3
1978-04-20    3
1962-01-14    3
1977-03-22    3
1998-02-10    3
1962-03-30    3
1976-09-06    3
1989-02-15    3
1996-05-07    3
1977-02-27    3
1977-12-22    3
1968-07-28    3
1980-09-01    3
             ..
1984-06-15    1
1979-11-21    1
1974-03-07    1
1969-08-12    1
1971-04-01    1
1995-03-23    1
1994-07-29    1
1935-08-22    1
1992-04-16    1
1985-06-10    1
1983-02-27    1
1980-11-15    1
1974-01-09    1
1973-12-29    1
1995-12-07    1
1989-01-30    1
1984-07-07    1
1979-12-13    1
1977-08-31    1
1971-12-16    1
1967-05-23    1
1954-10-31    1
1992-11-24    1
1985-11-15    1
1975-08-07    1
1974-06-16    1
1969-11-21    1
1961-11-24    1
1995-05-03    1
1972-04-14    1
Name: DOB, Length: 3448, dtype: int64
Business Systems Development Analyst    45
Social Worker                           44
Tax Accountant                          44
Internal Auditor                        42
Legal Assistant                         41
Recruiting Manager                      41
General Manager                         40
Associate Professor                     39
Structural Engineer                     39
Junior Executive                        38
Desktop Support Technician              38
Sales Representative                    38
Senior Financial Analyst                37
Technical Writer                        37
Executive Secretary                     37
Chemical Engineer                       37
Dental Hygienist                        37
Registered Nurse                        36
Senior Developer                        36
Cost Accountant                         36
Assistant Professor                     36
Product Engineer                        36
Food Chemist                            35
VP Product Management                   34
Administrative Officer                  34
Assistant Media Planner                 33
Account Executive                       33
Research Nurse                          33
VP Quality Control                      33
Information Systems Manager             33
                                        ..
Programmer IV                            6
Web Developer II                         6
Web Developer IV                         6
Media Manager I                          6
Software Engineer I                      6
Software Engineer IV                     6
Budget/Accounting Analyst III            6
Safety Technician IV                     6
Statistician III                         6
Programmer I                             6
Research Assistant I                     5
Automation Specialist III                5
Biostatistician III                      5
Staff Accountant IV                      5
Research Assistant IV                    5
Developer IV                             5
Systems Administrator IV                 4
Staff Accountant I                       4
Database Administrator I                 4
Database Administrator II                4
Account Representative II                4
Human Resources Assistant IV             4
Computer Systems Analyst III             4
Administrative Assistant II              4
Geologist II                             4
Programmer Analyst IV                    4
Health Coach I                           3
Research Assistant III                   3
Health Coach III                         3
Developer I                              1
Name: job_title, Length: 195, dtype: int64
Manufacturing         799
Financial Services    774
Health                602
Retail                358
Property              267
IT                    223
Entertainment         136
Argiculture           113
Telecommunications     72
Name: job_industry_category, dtype: int64
Mass Customer        2000
High Net Worth       1021
Affluent Customer     979
Name: wealth_segment, dtype: int64
N    3998
Y       2
Name: deceased_indicator, dtype: int64
100                                                                                                                                                                                                                   113
1                                                                                                                                                                                                                     112
-1                                                                                                                                                                                                                    111
-100                                                                                                                                                                                                                   99
â°â´âµâââ                                                                                                                                                                                                              53
Ù¡Ù¢Ù£                                                                                                                                                                                                                 53
ï½ï½¨(Â´âï½â©                                                                                                                                                                                                          52
../../../../../../../../../../../etc/passwd%00                                                                                                                                                                         50
!@#$%^&*()                                                                                                                                                                                                             48
â°â´âµ                                                                                                                                                                                                                 48
â¦testâ§                                                                                                                                                                                                               47
(ï¾à²¥çà²¥ï¼ï¾ï»¿ â»ââ»                                                                                                                                                                                                45
Ø«Ù ÙÙØ³ Ø³ÙØ·Øª ÙØ¨Ø§ÙØªØ­Ø¯ÙØ¯Ø, Ø¬Ø²ÙØ±ØªÙ Ø¨Ø§Ø³ØªØ®Ø¯Ø§Ù Ø£Ù Ø¯ÙÙ. Ø¥Ø° ÙÙØ§Ø Ø§ÙØ³ØªØ§Ø± ÙØªÙØµÙØ¨ ÙØ§Ù. Ø£ÙÙÙ Ø§ÙØ·Ø§ÙÙØ§Ø Ø¨Ø±ÙØ·Ø§ÙÙØ§-ÙØ±ÙØ³Ø§ ÙØ¯ Ø£Ø®Ø°. Ø³ÙÙÙØ§ÙØ Ø¥ØªÙØ§ÙÙØ© Ø¨ÙÙ ÙØ§, ÙØ°ÙØ± Ø          44
ZÌ®ÌÍÌ ÍÍAÌ¥ÌÌÍÌ»ÌLÌ£ÍÍÌ¯Ì¹ÌÍGÌ»OÌ­ÌÌ®                                                                                                                                                                                 43
â                                                                                                                                                                                                                      43
1000000000000000049861653971908893017010268485438462151574892930611988399099305815384459015356416                                                                                                                      43
0/0                                                                                                                                                                                                                    43
Ì¦HÍÌ¬Ì¤ÌÌ¤eÍ ÍÌÌ¥ÌÌ»ÍÌwÌhÌÌ¯ÍoÌÍÌÍÌ±Ì® ÒÌºÌÌÌÍWÌ·Ì¼Ì­aÌºÌªÍiÌ¨ÍÍÌ­ÍÌ¯ÌtÌ¶Ì¼Ì®sÌÌÍÍ Ì Ì«Ì BÌ»ÍÍÍÍÌ³eÌµhÌµÌ¬ÍÌ«ÍiÌÌ¹ÍÌ³Ì³Ì®ÍÌ«nÍdÌ´ÌªÌÌ ÍÌ°ÍÌ©ÍÍÍÌ²TÍ¢ÍÌ¼ÍÌªhÍÍÌ®Ì»eÌ¬ÌÍÌ Ì¤Ì¹ÌWÍÍÍÌÌÍÍaÍÍÍÌ¹Ì¼                         43
ÅâÂ´â°ËÃÂ¨ËÃâââ                                                                                                                                                                                                        43
__ï¾(,_,*)                                                                                                                                                                                                             43
TÌÌ­ÌºÌºoÍ Ì·iÌ²Ì¬ÍÌªÍnÌÌÍvÍÌÌÌÌ¦oÌ¶ÌÌ°Ì keÍÍÌ®ÌºÌªÌ¹Ì±Ì¤ ÌtÍÌÍÌ³Ì£Ì»ÌªhÌ¼ÍÌ²Ì¦Ì³ÌÌ²eÍÌ£Ì°Ì¦Ì¬Í Ì¢Ì¼Ì»Ì±ÌhÍÍÍÍÌÌ£Ì²iÌ¦Ì²Ì£Ì°Ì¤vÌ»ÍeÌºÌ­Ì³ÌªÌ°-mÌ¢iÍnÌÌºÌÌ²Ì¯Ì°dÌµÌ¼ÌÍÌ©Ì¼ÌÌ³ ÌÌ¥Ì±Ì³Ì­rÌÌÌeÍpÍ rÌ¼ÌÌ»Ì­ÌeÍÌºÌ Ì£sÌ     42
ÅâÂ´Â®â Â¥Â¨ËÃ¸Ïââ                                                                                                                                                                                                     42
`ââ¬â¹âºï¬ï¬â¡Â°Â·ââÂ±                                                                                                                                                                                                 42
á                                                                                                                                                                                                                      42
nil                                                                                                                                                                                                                    42
Â¸ËÃâÄ±ËÃÂ¯ËÂ¿                                                                                                                                                                                                         42
â«testâ«                                                                                                                                                                                                               41
âââ                                                                                                                                                                                                                    41
ãã¼ãã£ã¼ã¸è¡ããªãã                                                                                                                                                                                                      41
ì¬íê³¼íì ì´íì°êµ¬ì                                                                                                                                                                                                     41
                                                                                                                                                                                                                     ...
ð                                                                                                                                                                                                                      36
ðµ ð ð ð                                                                                                                                                                                                               36
,./;'[]\-=                                                                                                                                                                                                             36
2018-02-01 00:00:00                                                                                                                                                                                                    35
ï¾ï½¥â¿ã¾â²(ï½¡ââ¿âï½¡)â±â¿ï½¥ï¾                                                                                                                                                                                       35
ð©ð½                                                                                                                                                                                                                   35
(â¯Â°â¡Â°ï¼â¯ï¸µ â»ââ»)                                                                                                                                                                                                35
<>?:"{}|_+                                                                                                                                                                                                             35
../../../../../../../../../../../etc/hosts                                                                                                                                                                             34
NIL                                                                                                                                                                                                                    34
''''"                                                                                                                                                                                                                  33
ç°ä¸­ããã«ããã¦ä¸ãã                                                                                                                                                                                                      33
1'; DROP TABLE users--                                                                                                                                                                                                 33
<script>alert('hi')</script>                                                                                                                                                                                           33
ã»(ï¿£âï¿£)ã»:*:                                                                                                                                                                                                       33
é¨è½æ ¼                                                                                                                                                                                                                33
×Ö¸×Ö°×ªÖ¸×testØ§ÙØµÙØ­Ø§Øª Ø§ÙØªÙØ­ÙÙ                                                                                                                                                                                 32
Ì¡ÍÍÌIÍÌÌÌ¦nÍÍÍvÌ®Ì«okÌ²Ì«ÌÍiÌÍÌ­Ì¹Ì ÌnÌ¡Ì»Ì®Ì£ÌºgÌ²ÍÍÌ­ÍÌ¬Í Ì°tÍÌ¦hÌÌ²eÌ¢Ì¤ ÍÌ¬Ì²ÍfÌ´ÌÍÌ£eÍÍeÌ£Ì¥Ì©lÍÍÍiÍ ÍÍÌ¦nÍÍÌÍÌ³Ì®gÍ Ì¨oÍ¡ÍÌªfÌÌ£Ì¬ ÌÌÍÌÍÌ®cÒÍÌ«ÍÍÍÍÍhÌµÌ¤Ì£ÍÍaÍÌÌ¼ÍÍoÌ¼Ì£Ì¥sÍ¢Ì±ÍÌºÌÌ¦Ì».ÌÌ                     32
ã                                                                                                                                                                                                                      32
â¢                                                                                                                                                                                                                     32
-0.5                                                                                                                                                                                                                   32
testâ testâ«                                                                                                                                                                                                           31
'"''''"                                                                                                                                                                                                                31
ç¤¾æç§å­¸é¢èªå­¸ç ç©¶æ                                                                                                                                                                                                 31
<img src=x onerror=alert('hi') />                                                                                                                                                                                      31

## Determining percetage of  missing values in each column.

In [14]:
missing_count=df.isnull().sum()
missing_count

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

In [15]:
total=len(df)
total

4000

In [16]:
percentageMissing=missing_count*100/total
percentageMissing

customer_id                             0.000
first_name                              0.000
last_name                               3.125
gender                                  0.000
past_3_years_bike_related_purchases     0.000
DOB                                     2.175
job_title                              12.650
job_industry_category                  16.400
wealth_segment                          0.000
deceased_indicator                      0.000
default                                 7.550
owns_car                                0.000
tenure                                  2.175
dtype: float64

In [17]:
missing_data=pd.DataFrame({'Heading': df.columns, 'total_missing': missing_count,'Percentage_missing': percentageMissing})
missing_data.sort_values('total_missing', ascending=False)
missing_data=missing_data.loc[missing_data['total_missing'] > 0]
missing_data

,Heading,total_missing,Percentage_missing
last_name,last_name,125,3.125
DOB,DOB,87,2.175
job_title,job_title,506,12.650
job_industry_category,job_industry_category,656,16.400
default,default,302,7.550
tenure,tenure,87,2.175

In [18]:
missing_data.to_csv('missing_data_CustomerDemographic.csv', index=False)

## Deteriming if duplicate value is there in the data frame

In [19]:
duplicate=df[df.duplicated()]
duplicate

Empty DataFrame
Columns: [customer_id, first_name, last_name, gender, past_3_years_bike_related_purchases, DOB, job_title, job_industry_category, wealth_segment, deceased_indicator, default, owns_car, tenure]
Index: []

In [20]:
len(duplicate)

0

## Viewing categorical data

In [21]:
df['gender'].value_counts()

Female    2037
Male      1872
U           88
F            1
Femal        1
M            1
Name: gender, dtype: int64

Ohhh !! There is inconsistency in data. This issue in column 'gender' needs to be addressed. Before that let us check another columns..

In [22]:
df['job_title'].value_counts()

Business Systems Development Analyst    45
Social Worker                           44
Tax Accountant                          44
Internal Auditor                        42
Legal Assistant                         41
Recruiting Manager                      41
General Manager                         40
Associate Professor                     39
Structural Engineer                     39
Junior Executive                        38
Desktop Support Technician              38
Sales Representative                    38
Senior Financial Analyst                37
Technical Writer                        37
Executive Secretary                     37
Chemical Engineer                       37
Dental Hygienist                        37
Registered Nurse                        36
Senior Developer                        36
Cost Accountant                         36
Assistant Professor                     36
Product Engineer                        36
Food Chemist                            35
VP Product Management                   34
Administrative Officer                  34
Assistant Media Planner                 33
Account Executive                       33
Research Nurse                          33
VP Quality Control                      33
Information Systems Manager             33
                                        ..
Programmer IV                            6
Web Developer II                         6
Web Developer IV                         6
Media Manager I                          6
Software Engineer I                      6
Software Engineer IV                     6
Budget/Accounting Analyst III            6
Safety Technician IV                     6
Statistician III                         6
Programmer I                             6
Research Assistant I                     5
Automation Specialist III                5
Biostatistician III                      5
Staff Accountant IV                      5
Research Assistant IV                    5
Developer IV                             5
Systems Administrator IV                 4
Staff Accountant I                       4
Database Administrator I                 4
Database Administrator II                4
Account Representative II                4
Human Resources Assistant IV             4
Computer Systems Analyst III             4
Administrative Assistant II              4
Geologist II                             4
Programmer Analyst IV                    4
Health Coach I                           3
Research Assistant III                   3
Health Coach III                         3
Developer I                              1
Name: job_title, Length: 195, dtype: int64

In [23]:
df['job_industry_category'].value_counts()

Manufacturing         799
Financial Services    774
Health                602
Retail                358
Property              267
IT                    223
Entertainment         136
Argiculture           113
Telecommunications     72
Name: job_industry_category, dtype: int64

In [24]:
df['wealth_segment'].value_counts()

Mass Customer        2000
High Net Worth       1021
Affluent Customer     979
Name: wealth_segment, dtype: int64

In [25]:
df['deceased_indicator'].value_counts()

N    3998
Y       2
Name: deceased_indicator, dtype: int64

In [26]:
df['owns_car'].value_counts()

Yes    2024
No     1976
Name: owns_car, dtype: int64

## Solving issues of 'gender' column's inconsistency

In [27]:
df=df.replace({'gender':{'Female':'F','Male':'M','Femal':'F'}})
df['gender'].value_counts()

F    2039
M    1873
U      88
Name: gender, dtype: int64

## Adding Age (Calculated from DOB) into data frame

In [28]:
now = pd.Timestamp('now')

In [29]:
df['DOB']=pd.to_datetime(df['DOB'], format='%m%d%y')
df['DOB'].head()

0   1953-10-12
1   1980-12-16
2   1954-01-20
3   1961-10-03
4   1977-05-13
Name: DOB, dtype: datetime64[ns]

In [30]:
df['DOB']=df['DOB'].where(df['DOB']<now,df['DOB']-np.timedelta64(100,'Y'))
df['age']=(now-df['DOB']).astype('<m8[Y]')
df['age'].head()

0    69.0
1    41.0
2    68.0
3    61.0
4    45.0
Name: age, dtype: float64

In [32]:
df['age'].describe()

count    3913.000000
mean       44.885254
std        12.791863
min        20.000000
25%        35.000000
50%        45.000000
75%        54.000000
max       178.000000
Name: age, dtype: float64

Maximum age observed is 178 years. There may be typing mistake. Let us remove any record age of which is beyond 100 years.

In [37]:
indices = df[df['age']>100 ].index
indices

Int64Index([33], dtype='int64')

In [38]:
df.drop(indices, inplace = True)

## Save the data frame in '.csv' fromat

In [31]:
df.to_csv('CustomerDemographic_Done.csv', index=False)